@charset "ISO-8859-1";

.fondo{
	background:#1B1B1B;
}

.titulos{
	color: white;
}

.dispo{
    background-color:#4cff00; 
}
.dispoNo{
    background-color:#ff0000;
}
.selec{
    background-color:#0026ff;
}
    

.foto{
	height:150px;
}