@charset "ISO-8859-1";

 body{
	background-color: #3E3241 ! important; 
}

.padding{
	padding-top: 180px;
}

.padding1{
	padding-left: 455px;
}
.paddingB{
	padding-left: 270px;
}
.padding2{
	padding-left: 515px;
	padding-top: 10px;
}

.textWhite{
	color:#fff;
}

.Olv{
	
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
}

.Cuen{
	
	font-family: 'Roboto', sans-serif;
}


.tittle{
font-family: 'Unica One', cursive;
}

.text1{
font-family: 'Roboto', sans-serif;
}

.contf{
	background-color: #FFFAFA ! important;
	border-radius: 200px;
	opacity: 95%;
	width: 500px;
	align-content: center ! important;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	padding: 50px;
	border-width: 50px;
	border-color: #0C0C0C ;
}
.padown{
 padding-top: 125px;
}
.padcenter{
	padding-left: 50px;
}
.contform{
    background-color: #FFFAFA ! important;
    color: #FFFFFF;
    border-radius: 25px;
    margin: 20px;
    padding: 70px;
    width: 700px;
    align-content: center;

}

.rgt{
	color: #E6A6E9;
	font-size: 15px;
}

.mensajeErroneo{
	color: red;
	font-style: bold;
}


 .btn{
  background: #AA5DAD ! important;
  border-color: #AA5DAD ! important;
 }
