
/*NAVBAR*/

body{
	/*background: linear-gradient(#1B1B1B,#635D5D);*/
	background-color:#1B1B1B !important;
}

.logo{
	width:  65px;
	height:   50px;
}

/*CARRUSEL*/
.Carrusel{
	padding-top: 80px !important; 
}

.carousel-inner img {
    
    max-height: 460px !important;
}

.carousel-inner{
 height: 450px !important;


}
.tittle{
font-family: 'Unica One', cursive;
color: white;
font-size: 80px;
}
.tittle2{
font-family: 'Unica One', cursive;
color: black;
font-size: 60px;
}
.tittle3{
font-family: Arial, Helvetica, sans-serif;
color: white !important;
font-size: 30px;
}
.tittle31{
font-family: Arial, Helvetica, sans-serif;
color: white;
font-size: 15px;
}
.sutitulos{
	color: white ! important;
	 font-family: 'Roboto', sans-serif ! important;
}

.fondo1cont{
    background-color: #6E2C7E ! important;
    border-radius: 5px;
    color: white;
}
.justificado{
	text-align: justify;
	font-family: 'Roboto', sans-serif ! important;
}
.justificado2{
	text-align: center;
	font-family: "Lucida Console", Courier, monospace !important;
	color:white;
}
.justificado3{
	text-align: justify;
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 15px;
	color:white;
}
.fondo2cont{
    background: linear-gradient(to right, #3E3241,#6E2C7E);
    border-radius: 5px;
}
.fondo21cont{
	background: linear-gradient(to right, #1B1B1B,#3E3241);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: -35px;
}
.fondo22cont{
	background: linear-gradient(to right,#6E2C7E,#8C409E);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-right: -5px;
    margin-left: -35px;
}
.fondo3cont{
	  background:  #1B1B1B;
}
.contredondo{
	border-radius: 5px;
}
/*.pl{
	padding-left: 20% !important;
	margin-left: 50px;
	
}
.pl2{
	padding-left: 30% ! important;
	margin-left: 15px;
}*/
.navbar-toggler{
	height: 30px ! important;
	vertical-align: text-top ! important;
	background-color: #3E3241;
	
}
.togglercolor{
	background-color: #3E3241;
}

.padd{
padding-left: 25%;
}
.custom-toggler.navbar-toggler {
  border-color: rgb(255,102,203);
} 

.anuncios{
	background-color:#8A8585;
}

.pie{
	color: #FFF !important;
	 font-family: 'Roboto', sans-serif ! important;
}