body{
	background-color: #635D5D;
}
.rgt{
	padding-top: 100px; 
}

.cr{
	padding-top:10px;
}

body{
	font-family: 'Roboto', sans-serif;
}

.mensajeErroneo{
	color: red;
	font-style: bold;
}
.boton{
	padding-top: 120px;
}

.fondo{
	background-color: ED217C;
}
.text{
	text-align: center;
	padding-top: 35px;
}