.fondo{
	background-color: #635D5D;
}
.rgt{
	padding-top: 80px; 
}

.cr{
	padding-top:10px;
}

body{
	font-family: 'Roboto', sans-serif;
}

.mensajeErroneo{
	color: red;
	font-style: bold;
}
.boton{
	padding-top: 50px;
	padding-left: 500px;
}

.fondo{
	background-color: #3E3241;
}
.text{
	text-align: center;
	padding-top: 70px;
	color: white;
}

.text1{
	
	color: white;
}